@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --second-color: #687be9;
}

body {
  background-color: var(--primary-color);
  font-size: 'Poppins', sans-serif;
  margin: 0;
  margin-bottom: 4rem;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--primary-color);
}
.container {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.search {
  background-color: transparent;
  border: 2px solid var(--second-color);
  margin-right: 7rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: var(--second-color);
  font-family: inherit;
}
.search:focus {
  outline: 0;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search::placeholder {
  color: var(--second-color);
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 30px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0, 1);
  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
}
.movie img {
  width: 100%;
}
.movie-info {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info h3 {
  margin-top: 0;
}
.movie-info span {
  background-color: lightgray;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

/* Movie imdb rating color */
.movie-info span.black {
  color: black;
}
.movie-info span.purple {
  color: purple;
}
.movie-info span.red {
  color: red;
}

/* Movie Years */
.date {
  margin-left: 1rem;
  opacity: 0.4;
  font-weight: bold;
}

/* Movie Description */
.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--second-color);
  color: var(--primary-color);
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}
